@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&family=Staatliches&display=swap');

:root{
    --primary : #3f42e7;
    --secondary : #7679db;
    --black: #000000;
    --white: hsl(0, 0%, 100%);
    --const-font: "Prompt", sans-serif;
    --main-padding: 8%;
    --main-page-margin: 10%;
}